.container {
  padding: 0 60px;
}

.header {
  background: rgba(39, 55, 32, 0.87);
  color: #FFFFFF;
  padding: 25px 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 130px;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.headerListItem {

}

.headerListLink {
  font-size: 16px;
}

.headerButtonContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.headerWhiteButton {
  font-size: 16px;
  line-height: 24px;
}

.headerGreenButton {
  font-size: 16px;
  line-height: 22px;
  padding: 16px 25px;
  background: #42AE60;
  border: 1px solid #42AE60;
  border-radius: 6px;
}
